.cuerpo {
    background-color: rgb(243, 230, 215);
}
.nombre {
    color: rgb(57, 10, 110);
    text-align: center;
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}
.nombre span{
    color: rgb(95, 33, 153);
}
.yo {
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}
.cardheader {
    background-color: #43149b;
    height: 125px;
    margin-bottom: 70px;
}